---
import { parseAbsolute, parseDate } from "@internationalized/date";
import { Icon } from "astro-icon/components";
import { getSeriesIcon } from "../../db/rounds/utils";
import * as sessions from "../../db/sessions/repository";
import { getSessionTitle } from "../../db/sessions/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate, formatFixedTime } from "../../utils/date";

const { id } = Astro.params;

if (!id) throw new Error("Session not found");

const session = await sessions.getOne(id);
if (!session) throw new Error("Session not found");
---

<BaseLayout
    title={getSessionTitle(session.series, session.type, session.number)}
>
    {
        session && (
            <>
                <a href="/">
                    <Icon
                        name={`fluent-emoji-high-contrast:${getSeriesIcon(session.series)}`}
                    />

                    <hgroup class="round-title">
                        <h2 transition:name={`session-${session.id}`}>
                            {session.series}

                            {getSessionTitle(
                                session.series,
                                session.type,
                                session.number
                            )}
                        </h2>

                        {session.allDay ? (
                            <time datetime={session.start}>
                                {formatDate(
                                    parseDate(session.start),
                                    parseDate(session.end)
                                )}
                            </time>
                        ) : (
                            <time datetime={session.start}>
                                {formatFixedTime(
                                    parseAbsolute(session.start, "UTC"),
                                    parseAbsolute(session.end, "UTC")
                                )}
                            </time>
                        )}
                    </hgroup>
                </a>
            </>
        )
    }
</BaseLayout>
