---
import { parseDate } from "@internationalized/date";
import { Icon } from "astro-icon/components";
import * as rounds from "../../db/rounds/repository";
import { getRoundTitle, getSeriesIcon } from "../../db/rounds/utils";
import { getSessionTitle } from "../../db/sessions/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatDate } from "../../utils/date";

const { id } = Astro.params;

if (!id) throw new Error("Session not found");

const round = await rounds.getOne(id);
if (!round) throw new Error("Round not found");
---

<BaseLayout
  title={round.title}
>
  <a href="/">Back</a>

  {
    round && (
      <>
          <Icon
            name={`fluent-emoji-high-contrast:${getSeriesIcon(round.series)}`}
          />

          <hgroup class="round-title">
            <h2 transition:name={`round-${round.id}`}>
              {getRoundTitle(round)}
            </h2>

            <p>
              {round.circuitTitle}
            </p>

            {round.start && round.end && (
              <time datetime={round.start}>
                  {formatDate(
                      parseDate(round.start),
                      parseDate(round.end)
                  )}
              </time>
            )}
          </hgroup>

          <ol>
            {round.sessions.map(s=>
              <li transition:name={`session-${s.id}`}>
                <a href={`/session/${s.id}`}>
                  {getSessionTitle(round.series, s.type, s.number)}
                </a>
              </li>
            )}
          </ol>
        </>
    )
  }
</BaseLayout>
