---
import db from "../db";

const { host } = Astro.url;

const owners = await db.query.accountOwners.findMany({
    with: { account: true },
});
if (owners.length < 1) return Astro.redirect("/accounts");
---

<hgroup>
    <h1>{host}</h1>
    <p>This Hollo instance has the below accounts.</p>
</hgroup>

{
    owners.map((owner) => (
        <article>
            <hgroup>
                {owner.account.avatarUrl && (
                    <a href={owner.account.url ?? owner.account.iri}>
                        <img
                            src={owner.account.avatarUrl}
                            alt={`${owner.account.name}'s avatar`}
                            width={72}
                            height={72}
                            style="float: left; margin-right: 1em;"
                        />
                    </a>
                )}
                <h3>
                    <a href={owner.account.url ?? owner.account.iri}>
                        {owner.account.name}
                    </a>
                </h3>
                <p style="user-select: all;">{owner.account.handle}</p>
            </hgroup>
            <div set:html={owner.account.bioHtml ?? ""} />
        </article>
    ))
}
