---
import xss from "xss";
import db from "../db";

const owners = await db.query.accountOwners.findMany({
  with: { account: true },
});
---

{
    owners.map(({account}) => (
        <article>
            <header>
                <hgroup>
                    <h2>{account.name}</h2>
                    <p style="user-select: all;">{account.handle}</p>
                </hgroup>
            </header>

            <div set:html={{ __html: xss(account.bioHtml ?? "") }} />
          
            <p>
              {account.published ? (
                <small>
                  Created at{" "}
                  <time datetime={account.published.toISOString()}>
                    {account.published.toLocaleDateString()}
                  </time>
                  .
                </small>
              ) : (
                <small>
                  Fetched at{" "}
                  <time datetime={account.updated.toISOString()}>
                    {account.updated.toLocaleDateString()}
                  </time>
                  .
                </small>
              )}
            </p>
            <footer>
                <form
                    class="grid"
                    action={`/accounts/${account.id}/delete`}
                    method="post"
                    onsubmit="return confirm('Are you sure you want to delete this account?')"
                >
                  <div>
                      <a
                          href={`/accounts/${account.id}`}
                          role="button"
                          class="contrast"
                          style="display: block;"
                      >
                          Edit
                      </a>
                  </div>
                  <button type="submit" class="contrast">
                      Delete
                  </button>
                </form>
            </footer>
        </article>
    ))
}
