---
import type {
  Account,
  Medium as DbMedium,
  Poll as DbPoll,
  Post as DbPost,
  PollOption,
} from "../schema";
import PostContent from "./PostContent.astro";

interface Props {
  post: DbPost & {
    account: Account;
    media: DbMedium[];
    poll: (DbPoll & { options: PollOption[] }) | null;
    sharing:
      | (DbPost & {
          account: Account;
          media: DbMedium[];
          poll: (DbPoll & { options: PollOption[] }) | null;
          replyTarget: (DbPost & { account: Account }) | null;
          quoteTarget:
            | (DbPost & {
                account: Account;
                media: DbMedium[];
                poll: (DbPoll & { options: PollOption[] }) | null;
                replyTarget: (DbPost & { account: Account }) | null;
              })
            | null;
        })
      | null;
    replyTarget: (DbPost & { account: Account }) | null;
    quoteTarget:
      | (DbPost & {
          account: Account;
          media: DbMedium[];
          poll: (DbPoll & { options: PollOption[] }) | null;
          replyTarget: (DbPost & { account: Account }) | null;
        })
      | null;
  };
  pinned?: boolean;
  quoted?: boolean;
}

let { post, pinned, quoted } = Astro.props;

if (post.sharing != null) {
  post = { ...post.sharing, sharing: null };
}

const account = post.account;
---

<article
    style={
      pinned
        ? "border: 1px solid silver;"
        : quoted
          ? "border: calc(var(--pico-border-width)*4) solid var(--pico-background-color);"
          : ""
    }
>
    <header>
        <hgroup>
            {
                account.avatarUrl && (
                    <img
                        src={account.avatarUrl}
                        alt={`${account.name}'s avatar`}
                        width={48}
                        height={48}
                        style="float: left; margin-right: .5em;"
                    />
                )
            }
            {quoted ? (
                <h6 style="font-size: smaller;"><a href={account.url ?? account.iri}>{account.name}</a></h6>
            ) : (
                <h5><a href={account.url ?? account.iri}>{account.name}</a></h5>
            )}
            <p>
                <small style="user-select: all;">{account.handle}</small>
                {
                    post.replyTarget != null && (
                        <>
                            {" "}
                            &middot;{" "}
                            <small>
                                Reply to{" "}
                                <a
                                    href={
                                        post.replyTarget.url ??
                                        post.replyTarget.iri
                                    }
                                >
                                    {post.replyTarget.account.name}'s post
                                </a>
                            </small>{" "}
                        </>
                    )
                }
            </p>
        </hgroup>
    </header>
    {
        post.summaryHtml == null || post.summaryHtml.trim() === "" ? (
            <PostContent post={post} />
        ) : (
            <details>
                <summary
                    set:html={post.summaryHtml}
                    lang={post.language ?? undefined}
                />
                <PostContent post={post} />
            </details>
        )
    }
    <footer>
        <p>
            <a href={post.url ?? post.iri}>
                <small>
                    <time
                        datetime={(
                            post.published ?? post.updated
                        ).toISOString()}
                    >
                        {(post.published ?? post.updated).toLocaleString()}
                    </time>
                </small>
            </a>
            <small>
              {" "}
              &middot; 👍{" "}
              {`${post.likesCount} ${
                post.likesCount === null || post.likesCount < 2 ? "like" : "likes"
              }`}
            </small>
            <small>
              {" "}
              &middot; 🔁{" "}
              {`${post.sharesCount} ${
                post.sharesCount === null || post.sharesCount < 2
                  ? "share"
                  : "shares"
              }`}
            </small>
            {pinned ? <small> &middot; Pinned</small> : ""}
        </p>
    </footer>
</article>
