---
import type {
  Medium as DbMedium,
  Poll as DbPoll,
  Post as DbPost,
  PollOption,
} from "../schema";
import Medium from "./Medium.astro";
import Poll from "./Poll.astro";

interface Props {
  readonly post: DbPost & {
    media: DbMedium[];
    poll: (DbPoll & { options: PollOption[] }) | null;
  };
}

const { post } = Astro.props;
---

{
    post.contentHtml && (
        <div set:html={post.contentHtml} lang={post.language ?? undefined} />
    )
}
{post.poll != null && <Poll poll={post.poll} />}
{
    post.media.length > 0 && (
        <div>
            {post.media.map((medium) =>
                medium.description && medium.description.trim() !== "" ? (
                    <figure>
                        <Medium medium={medium} />
                        <figcaption>{medium.description}</figcaption>
                    </figure>
                ) : (
                    <Medium medium={medium} />
                )
            )}
        </div>
    )
}
