---
import { parseAbsolute, parseDate } from "@internationalized/date";
import { Icon } from "astro-icon/components";
import { getSeriesIcon } from "../db/rounds/utils";
import * as sessions from "../db/sessions/repository";
import { getSessionTitle } from "../db/sessions/utils";
import {
  formatDate,
  formatFixedTime,
  formatRangeWeekend,
  formatRelWeekend,
} from "../utils/date";

interface Props {
  weekOffset: number;
}

const { weekOffset } = Astro.props;
const weekend = await sessions.getWeekend(weekOffset);
---

<hgroup class="weekend-title">
    <h2>{formatRelWeekend(weekOffset)}</h2>
    <time datetime={`${weekend?.at(0)?.year}-W${weekend?.at(0)?.weekNumber}`}>
        {formatRangeWeekend(weekOffset)}
    </time>
</hgroup>

{
    Array.from({ length: 7 }, (_, index) => {
        const weekDay = weekend.find((w) => w.weekDay === (index + 1) % 7); // Sunday is 0
        console.log("index", index, "weekDay", weekDay);

        return weekDay?.sessions.map((session) => (
            <button
                is="navigate-button"
                data-link={`/session/${session.id}`}
                id={`session-${session.id}`}
                style={`--color-hue: var(--${session.series}-hue)`}
            >
                <Icon
                    name={`fluent-emoji-high-contrast:${getSeriesIcon(session.series)}`}
                />

                <hgroup class="round-title">
                    <h2 transition:name={`session-${session.id}`}>
                        {session.series}

                        {getSessionTitle(
                            session.series,
                            session.type,
                            session.number
                        )}
                    </h2>

                    {session.allDay ? (
                        <time datetime={session.start}>
                            {formatDate(
                                parseDate(session.start),
                                parseDate(session.end)
                            )}
                        </time>
                    ) : (
                        <time datetime={session.start}>
                            {formatFixedTime(
                                parseAbsolute(session.start, "UTC"),
                                parseAbsolute(session.end, "UTC")
                            )}
                        </time>
                    )}
                </hgroup>
            </button>
        ));
    })
}

<div>
    <a href={`?offset=${weekOffset - 1}`} class="btn btn-surface">
        <Icon name="hollow/angle-up" />
        <span>Previous</span>
    </a>
    <a href={`?offset=${weekOffset + 1}`} class="btn btn-surface">
        <Icon name="hollow/angle-down" />
        <span>Next</span>
    </a>
</div>

<script>
    import { navigate } from "astro:transitions/client";

    class NavigateButton extends HTMLButtonElement {
        constructor() {
            super();

            this.addEventListener("click", () => {
                if (this.dataset["link"]) navigate(this.dataset["link"]);
            });
        }
    }

    customElements.define("navigate-button", NavigateButton, {
        extends: "button",
    });
</script>
